#header
  height: 250px
  width: 960px
  margin: 0 auto

  h1
    float: left
    margin: 40px 0 0 0px
    text-indent: -9999px
    a
      display: block
      width: 216px
      height: 300px
      background: url(/images/application/kc-ruby.png) no-repeat
  h2
    font-size: 150%
    margin: 0px 0 0 0px
    text-decoration: underline
  h3
    float: right
    margin: 0px 0 0 0px
    text-indent: -9999px
    a
      display: block
      width: 86px
      height: 86px
      background: url(/images/application/kc-pc.png) no-repeat
  #event
    position: absolute
    top: 30px
    margin: 0px 80px 0px 250px
    a
      text_decoration: underline
    table
      border: 1px solid #cacaca
      border-bottom: 3px solid #000999
      padding: 5px 5px 20px 5px
      width: 500px
      h4
        font-size: 75%
        margin: 0 0 0 0
  #podcast
    postion: absolute
    top: 0px
    margin: 0 20px 0 20px
  