#header
  height: 250px
  width: 960px
  margin: 0 auto

  h1
    float: left
    margin: 40px 0px 0px 0px
    text-indent: -9999px
    a
      display: block
      width: 216px
      height: 300px
      background: url(/images/application/kc-ruby.png) no-repeat
  h2
    font-size: 150%
    margin: 0px 0px 0px 0px
    text-decoration: underline
  h3
    float: right
    margin: 30px -300px 0px 0px
    text-indent: -9999px
    a
      display: block
      width: 86px
      height: 86px
      background: url(/images/application/kc-pc.png) no-repeat
  h5
    float: right
    margin: 0px 0px 0px 0px
    padding: 0px 0px 0px 0px
  #event
    position: absolute
    top: 70px
    margin: 0px 60px 0px 250px
    color: #FFFFFF
    h1
      margin: 0 0 0 0
      color: #FFFFFF
    h2
      margin: 0 0 0 0
      color: #FFFFFF
    h3
      margin: 0 0 0 0
      color: #FFFFFF
    h4
      margin: 0 0 0 0
      color: #FFFFFF
    h5
      font-size: 75%
      margin: 0 0 0 0
      color: #FFFFFF
    a
      text_decoration: underline
      margin: 0 0 0 0
      color: #FFFFFF
    table
      border: 3px solid #000000
      padding: 5px 5px 10px 5px
      width: 550px
      background-color: #000999
