#header
  height: 250px
  width: 795px
  margin: 0 auto
  h1
    float: left
    margin: 40px 0 0 0px
    text-indent: -9999px

    a
      display: block
      width: 216px
      height: 300px
      background: url(/images/application/kc-ruby.png) no-repeat
  h3
    float: right
    margin: 0px 0 0 0px
    text-indent: -9999px
    a
      display: block
      width: 86px
      height: 86px
      background: url(/images/application/kc-pc.png) no-repeat
  #event
    position: absolute
    top: 30px
    margin-left: 250px
  #podcast
    postion: absolute
    top: 0px
    margin-right: 20px
    margin-top: 20px
  