#nav
  position: absolute
  top: 180px
  right: 80px
  width: 600px
  margin: 0px 0px 0px 0px
  padding: 0
  ul
    padding: 5px 0
    list-style-type: none
    text-align: right
    margin-left: 0px
    li
      padding: 6px 15px
      margin: 0 7.5px
      display: -moz-inline-box
      box-orient: vertical
      display: inline-block
      vertical-align: middle
      font: 14px Monaco, Lucida Console, monospace
      border: 0px solid #ddddff
      border-bottom: 3px solid #000099
      box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.5)
      a
        text-decoration: none
        color: #3f0e0d
      a:hover
        color: #0000CC