.podcast
  margin: 10px 0px 0px 0px
  padding: 10px 0px 0px 0px
  #podcast_item
    height: 200px
    // border-top: 1px dashed #b1ad9b
    #video
      float: left
      margin: 10px 10px 10px 10px
      height: 180px
      width: 320px
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5)
    .information
      margin: 60px 10px 10px 10px
      float: left
      width: 550px
      #title
        font-size: 80%
      #duration
        font-size: 70%
      #upload_date
        font-size: 70%