.podcast
  margin: 0px 0px 0px 0px
  padding: 0px 0px 0px 0px
  #podcast_item
    position: relative
    margin: 15px 0px 0px 0px
    padding: 10px 10px 10px 10px
    border-radius: 5px 5px 5px 5px
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5)
    border-width: 30px 1px 1px 1px
    border-style: solid
    border-color: $secondary_color
    #video
      position: static
      display: inline-block
      margin: 0px 0px 0px 0px
      height: 180px
      width: 320px
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5)
    .information
      margin: 0px 0px 0px 0px
      vertical-align: top
      display: inline-block
      width: 530px
      text-align: center
      #title
        font-size: 110%
      #description
        font-size: 95%
      #duration
        font-size: 85%
        display: inline
        padding: 0 10px 0 0
      #upload_date
        font-size: 85%
        display: inline
        padding: 0 0 0 10px
    .podcast_management
      text-align: right
      float: right
      font-size: 75%