$primary_color: #FFFFFF

@import "_header"
@import "_navbar"
@import "_footer"
@import "_podcast"
@import "_login"

body
  margin: 0px 0px 40px 0px
  padding: 0px 0px 0px 40px
  width: 100%
  background-color: $primary_color
  font:
    family: Monaco, Courier, Lucida Console, Courier, monospace
    size: 100%
  #page
    margin: 110px 0px 50px 50px
    width: 900px
    .member
      border: 1px solid green
      iframe
        float: right
table
  caption
    border-bottom: 1px dashed #b1ad9b
  width: 900px
  margin: 10px 0px 0px 0px
  padding: 0px 0px 0px 0px

  a
    color: #3f0e0d
  a:hover
    color: #0000CC
  h1,
  h2,
  h3,
  h4
    text-align: center
    vertical-align: top
    padding: 0px 0px 0px 0px
    margin: 0
  h3
    text-align: left  
  h5
    text-align: left
    padding: 10px 0px 0px 20px
    margin: 0   
a
  color: #3f0e0d
a:hover
  color: #0000CC
iframe
  margin: 0
  buffer: 0
.clear
  clear: both
  height: 0
  overflow: hidden

#container
  margin: auto
  background: white
  padding: 20px 0 40px 0
 
#flash_notice,
#flash_error,
#flash_alert
  padding: 5px 8px
  margin: 10px 0

#flash_notice
  background-color: #ccffcc
  border: solid 1px #66cc66

#flash_error,
#flash_alert
  background-color: #ffcccc
  border: solid 1px #cc6666

.fieldWithErrors
  display: inline

.error_messages
  width: 400px
  border: 2px solid #cf0000
  padding: 0
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0
  font:
    size: 12px
  h2
    text-align: left
    padding: 5px 5px 5px 15px
    margin: 0
    font:
      weight: bold
      size: 12px
    background-color: #cc0000
    color: #FFFFFF
  p
    margin: 8px 10px
  ul
    margin: 0
