$primary_color: #FFFFFF // WHITE
$far_background_color: #3399FF // LIGHT BLUE
$secondary_color: #000066 // DARK BLUE
$background_color: #CCCCCC // GRAY


@import "_header"
@import "_navbar"
@import "_footer"
@import "_podcast"
@import "_login"

body
  margin: 0px 0px 0px 0px
  padding: 0px 0px 0px 0px
  width: 100%
  position: relative
  background-color: $far_background_color
  font:
    family: Monaco, Helvetica, monospace
    size: 100%
  #title
    font-size: 135%
    text-align: center
  #page_container
    margin: 20px auto
    width: 1000px
  #page_box
    margin: 0px 40px 0px 40px
    width: 960px
    background-color: $primary_color
    border-radius: 5px 5px 5px 5px
  #page
    margin: 0px 0px 0px 0px
    padding: 20px 20px 20px 20px
    width: 920px
    overflow: hidden
    .twitter_feed
      margin: 10px 10px 10px 10px
      float: left
      width: 300px
      height: 475x
      background-color: $secondary_color
      border-radius: 10px 10px 10px 10px
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
    .member
      position: relative
      float: right
      margin: 5px 0px 5px 0px
      padding: 0px 0px 0px 0px
      border-radius: 5px 5px 5px 5px
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5)
      border-width: 5px 1px 1px 1px
      border-style: solid
      border-color: $secondary_color
      .log-bar
        height: 45px
        z-index: auto
        box-shadow: none
      width: 575px
      iframe
        float: right
      .member-management
        position: absolute
        right: 20px
        top: 50px
        text-align: right
        font-size: 75%
      #avatar
        margin: 0px 0px 0px 10px
        float: left
        zindex: 5
      #title
        margin: 5px 0px 0px 20px
        float: left
        text-align: left
        font-size: 125%
        color: $primary_color
      .information
        width: 400px
        margin: 55px 0px 5px 70px
        #user_since,
        #e-mail,
        #neighborhood,
          text-align: left
          p
            margin: auto
    #edit
      .member
        float: none
        margin: 0px auto
        width: 60%
        background-color: transparent
        padding: 0px 0px 0px 0px
        border-radius: 5px 5px 5px 5px
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5)
        border-width: 60px 1px 1px 1px
        border-style: solid
        border-color: $secondary_color
        #form-box
          padding: 0px 0px 0px 0px
          margin: 0px 0px 0px 10px
          #title-bar
            position: absolute
            top: -55px
            width: 90%
            height: 50px
            margin: 0px 0px 0px -5px
            #avatar
              margin: 0px 0px 0px 0px
              float: left
            #title
              margin: 10px 0px 0px 45px
          #information
            width: 100%
            margin: 10px 0px 0px 0px
            #block
              display: block
            #name,
            #ruby_since,
            #e-mail,
            #show,
            #neighborhood
              font-size: 90%
              display: inline
          #buttons
            width: 90%          
            margin: 10px auto
            align: center
            text-align: center
    .content
      float: right
      margin: 10px 10px 10px 10px
      padding: 0
      width: 575px
      #buttons
        position: absolute
        margin: -40px 0 0 0
        #podcast,
        #event
          display: inline-block
      #introduction
        text-align: justify
        border-width: 1px 1px 1px 1px
        border-style: solid
        border-color: $secondary_color
        border-radius: 5px 5px 5px 5px
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
        padding: 20px 20px 20px 20px
      #podcast_box
        margin: 20px 0px 0px 0px
        padding: 0px 0px 0px 0px
        border-width: 50px 1px 1px 1px
        border-style: solid
        border-color: $secondary_color
        border-radius: 5px 5px 5px 5px
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
        #main_title
          margin: 0px 0px 0px 0px
          padding: 0px 0px 0px 0px
          float: left
          position: relative
          top: -40px
          right: -175px
          font-size: 135%
          text-align: center
          color: $primary_color
        .podcast
          margin: 0px 0px 0px 0px
          padding: 0px 0px 0px 0px
          #podcast_item
            margin: 0px 0px 0px 0px
            border-width: 0px 0px 0px 0px
            box-shadow: none
            border-radius: none
            #center_box
              margin: 30px 0 10px 0 
              position: static
              width: 100%
              height: 120%
              #video
                margin: auto
                padding: 0px 0px 0px 0px
                position: static
                margin: 0px auto
                display: block
                iframe
                  margin: 0px 0px 0px 0px
                  padding: 0px 0px 0px 0px
            .information
              margin: 5px 10px 5px 10px
              width: 100%
              text-align: center
              #title
                font-size: 80%
              #duration
                font-size: 70%
                display: inline
                padding: 0 10px 0 0
              #upload_date
                font-size: 70%
                display: inline
                padding: 0px 0px 0px 10px
ul
  list-style-type: none
  padding: 0px 0px 0px 0px
  margin: 0px 0px 0px 0px
a
  color: #3f0e0d
a:hover
  color: #0000CC
iframe
  margin: 0
  buffer: 0
.clear
  clear: both
  height: 0
  overflow: hidden

#container
  margin: auto
  background: white
  padding: 20px 0 40px 0
 
#flash_notice,
#flash_error,
#flash_alert
  float: left
  padding: 8px 20px
  margin: 0px 0px

#flash_notice
  color: #FFFFFF

#flash_error,
#flash_alert
  color: #990000

.fieldWithErrors
  display: inline

.error_messages
  border: 2px solid #cf0000
  padding: 0
  padding-bottom: 12px
  margin-left: -10px
  margin-bottom: 20px
  background-color: #f0f0f0
  font:
    size: 12px
  h2
    text-align: left
    padding: 5px 5px 5px 15px
    margin: 0
    font:
      weight: bold
      size: 12px
    background-color: #cc0000
    color: #FFFFFF
  p
    margin: 8px 10px
  ul
    margin: 0
    li
      margin: 0 0 0 30px
.dashed_bar
  margin: 0px 0px 0px 0px
  border-bottom: 1px dashed #b1ad9b
  position: absolute
  width: 960px
  height: 1px
.log-bar
  background-color: $secondary_color
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5)
  width: 100%
  height: 44px
  Position: absolute
  Top: 0px
  z-index: -100