$primary_color: #FFFFFF // WHITE
$far_background_color: #99CCFF // LIGHT BLUE
$secondary_color: #000099 // DARK BLUE


@import "_header"
@import "_navbar"
@import "_footer"
@import "_podcast"
@import "_login"

body
  margin: 0px 0px 0px 0px
  padding: 0px 0px 0px 0px
  width: 100%
  position: relative
  background-color: $far_background_color
  font:
    family: Monaco, Courier, Lucida Console, Courier, monospace
    size: 100%
  #title
    font-size: 135%
    text-align: center
  #page_container
    margin: 20px auto
    width: 1000px
  #page_box
    margin: 0px 40px 0px 40px
    width: 960px
    background-color: $primary_color
    border-radius: 5px 5px 5px 5px
  #page
    margin: 0px 0px 0px 0px
    padding: 20px 20px 20px 20px
    width: 920px
    overflow: hidden
    .twitter_feed
      margin: 10px 10px 10px 10px
      float: left
      width: 300px
      height: 400px
      background-color: $secondary_color
      border-radius: 10px 10px 10px 10px
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5)
    .member
      float: left
      border: 1px solid green
      iframe
        float: right
    .content
      float: right
      margin: 10px 10px 10px 10px
      padding: 0
      width: 575px
      .podcast
        text-align: center
        #video
          margin: 0px auto
ul
  list-style-type: none
  padding: 0
  margin: 0
a
  color: #3f0e0d
a:hover
  color: #0000CC
iframe
  margin: 0
  buffer: 0
.clear
  clear: both
  height: 0
  overflow: hidden

#container
  margin: auto
  background: white
  padding: 20px 0 40px 0
 
#flash_notice,
#flash_error,
#flash_alert
  float: left
  padding: 8px 20px
  margin: 0px 0px

#flash_notice
  color: #FFFFFF

#flash_error,
#flash_alert
  color: #990000

.fieldWithErrors
  display: inline

.error_messages
  width: 400px
  border: 2px solid #cf0000
  padding: 0
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0
  font:
    size: 12px
  h2
    text-align: left
    padding: 5px 5px 5px 15px
    margin: 0
    font:
      weight: bold
      size: 12px
    background-color: #cc0000
    color: #FFFFFF
  p
    margin: 8px 10px
  ul
    margin: 0
.dashed_bar
  margin: 0px 0px 0px 0px
  border-bottom: 1px dashed #b1ad9b
  position: absolute
  width: 960px
  height: 1px