#header {
  height: 250px;
  width: 960px;
  margin: 0px auto; }
  #header h1 {
    float: left;
    margin: -40px 0px 0px 60px;
    text-indent: -9999px; }
    #header h1 a {
      display: block;
      width: 216px;
      height: 300px;
      background: url(/images/application/kc-ruby.png) no-repeat; }
  #header .event {
    float: right;
    margin: 35px 150px 0px 0px;
    padding: 0px 20px 10px 20px;
    border-radius: 5px 5px 5px 5px;
    background-color: #000099;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    color: white; }
    #header .event ul {
      margin: 0px 0px 0px 0px;
      padding: 5px 10px 0px 10px;
      list-style-type: none;
      text-align: center; }
      #header .event ul a {
        color: white; }
      #header .event ul a:hover {
        color: #990000; }
    #header .event #leadin {
      font-size: 75%;
      float: left;
      margin: 10px 0px 0px 10px; }
    #header .event #title {
      font-size: 120%; }
    #header .event #location {
      font-size: 90%; }
    #header .event #date {
      font-size: 90%; }
  #header .dashed_bar {
    top: 300px;
    margin: 10px 0px 0px 0px; }

#nav {
  float: right;
  width: 600px;
  margin: 35px 60px 0px 0px;
  padding: 0; }
  #nav ul {
    padding: 5px 0;
    list-style-type: none;
    text-align: right;
    margin-left: 0px; }
    #nav ul li {
      padding: 6px 15px;
      margin: 0 7.5px;
      display: -moz-inline-box;
      box-orient: vertical;
      display: inline-block;
      vertical-align: middle;
      font: 14px Courier, Monaco, Lucida Console, monospace;
      border: 0px solid #ddddff;
      border-bottom: 3px solid #000099;
      box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.5); }
      #nav ul li a {
        text-decoration: none;
        color: #3f0e0d; }
      #nav ul li a:hover {
        color: #0000cc; }

#footer {
  width: 960px;
  margin: 0px auto; }
  #footer .footer_info {
    margin: 0px auto;
    width: 400px;
    position: relative; }
    #footer .footer_info #copyright {
      padding: 20px 0px 20px 0px;
      -moz-font-size: 55%;
      font-size: 60%;
      text-align: center; }

.podcast {
  margin: 10px 0px 0px 0px;
  padding: 10px 0px 0px 0px; }
  .podcast #podcast_item {
    margin: 10px auto;
    height: 200px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); }
    .podcast #podcast_item #video {
      float: left;
      margin: 10px 10px 10px 10px;
      height: 180px;
      width: 320px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); }
    .podcast #podcast_item .information {
      margin: 60px 10px 10px 10px;
      float: left;
      width: 550px;
      width: 550px;
      text-align: center; }
      .podcast #podcast_item .information #title {
        font-size: 100%; }
      .podcast #podcast_item .information #duration {
        font-size: 85%;
        display: inline;
        padding: 0 10px 0 0; }
      .podcast #podcast_item .information #upload_date {
        font-size: 85%;
        display: inline;
        padding: 0 0 0 10px; }

#login {
  height: 44px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%; }
  #login #login_info {
    width: 960px;
    margin: 0px auto;
    z-index: 1; }
    #login #login_info .info {
      padding: 3px 0px 0px 0px;
      float: right;
      font-size: 75%;
      color: white;
      display: inline; }
      #login #login_info .info img {
        height: 36px;
        vertical-align: text-top; }
      #login #login_info .info a {
        color: white; }
      #login #login_info .info a:hover {
        color: #990000; }
  #login .log-bar {
    background-color: #000099;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 44px;
    Position: absolute;
    Top: 0px;
    z-index: -100; }

body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  position: relative;
  background-color: #99ccff;
  font-family: Monaco, Courier, Lucida Console, Courier, monospace;
  font-size: 100%; }
  body #title {
    font-size: 135%;
    text-align: center; }
  body #page_container {
    margin: 20px auto;
    width: 1000px; }
  body #page_box {
    margin: 0px 40px 0px 40px;
    width: 960px;
    background-color: white;
    border-radius: 5px 5px 5px 5px; }
  body #page {
    margin: 0px 0px 0px 0px;
    padding: 20px 20px 20px 20px;
    width: 920px;
    overflow: hidden; }
    body #page .twitter_feed {
      margin: 10px 10px 10px 10px;
      float: left;
      width: 300px;
      height: 400px;
      background-color: #000099;
      border-radius: 10px 10px 10px 10px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); }
    body #page .member {
      position: relative;
      float: right;
      margin: 5px 0px 5px 0px;
      padding: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
      width: 575px; }
      body #page .member iframe {
        float: right; }
      body #page .member .member-management {
        position: absolute;
        right: 20px;
        top: 35px;
        text-align: right;
        font-size: 75%; }
      body #page .member #avatar {
        float: left; }
      body #page .member #information {
        width: 400px;
        margin: 0px 70px; }
        body #page .member #information #name {
          text-align: left;
          font-size: 125%; }
        body #page .member #information #user_since,
        body #page .member #information #e-mail,
        body #page .member #information #neighborhood {
          text-align: left; }
          body #page .member #information #user_since p,
          body #page .member #information #e-mail p,
          body #page .member #information #neighborhood p {
            margin: 0; }
    body #page .content {
      float: right;
      margin: 10px 10px 10px 10px;
      padding: 0;
      width: 575px; }
      body #page .content #introduction {
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
        padding: 20px 20px 20px 20px; }
      body #page .content #podcast_box {
        margin: 40px 0 0 0;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
        padding: 0 0 0 0;
        background-color: #99ccff; }
        body #page .content #podcast_box #title {
          margin: 0 0 0 0;
          padding: 20px 0 0 0;
          text-size: 120%;
          text-align: center; }
        body #page .content #podcast_box .podcast #podcast_item {
          padding: 0px 0 0 0;
          height: 300px;
          border: none;
          box-shadow: none;
          border-radius: none; }
          body #page .content #podcast_box .podcast #podcast_item #video {
            margin: 0px auto;
            float: none; }
          body #page .content #podcast_box .podcast #podcast_item .information {
            margin: 20px auto;
            float: none;
            width: 550px;
            text-align: center; }
            body #page .content #podcast_box .podcast #podcast_item .information #title {
              font-size: 80%; }
            body #page .content #podcast_box .podcast #podcast_item .information #duration {
              font-size: 70%;
              display: inline;
              padding: 0 10px 0 0; }
            body #page .content #podcast_box .podcast #podcast_item .information #upload_date {
              font-size: 70%;
              display: inline;
              padding: 0 0 0 10px; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  color: #3f0e0d; }

a:hover {
  color: #0000cc; }

iframe {
  margin: 0;
  buffer: 0; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  margin: auto;
  background: white;
  padding: 20px 0 40px 0; }

#flash_notice,
#flash_error,
#flash_alert {
  float: left;
  padding: 8px 20px;
  margin: 0px 0px; }

#flash_notice {
  color: white; }

#flash_error,
#flash_alert {
  color: #990000; }

.fieldWithErrors {
  display: inline; }

.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; }
  .error_messages h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  .error_messages p {
    margin: 8px 10px; }
  .error_messages ul {
    margin: 0; }

.dashed_bar {
  margin: 0px 0px 0px 0px;
  border-bottom: 1px dashed #b1ad9b;
  position: absolute;
  width: 960px;
  height: 1px; }
