#header {
  height: 250px;
  width: 795px;
  margin: 0 auto; }
  #header h1 {
    float: left;
    margin: 40px 0 0 -50px;
    text-indent: -9999px; }
    #header h1 a {
      display: block;
      width: 216px;
      height: 255px;
      background: url(/images/application/kc-sc.png) no-repeat; }
  #header h2 {
    margin: 0px 0 0 0px;
    text-indent: -9999px; }
    #header h2 a {
      display: block;
      width: 86px;
      height: 86px;
      background: url(/images/application/kc-pc.png) no-repeat; }
  #header #podcast {
    postion: relative;
    top: 0px;
    margin-left: 500px; }
  #header #nav {
    position: relative;
    top: 100px;
    margin-left: 125px;
    padding: 11px 0;
    border-bottom: 1px dashed #b1ad9b; }
    #header #nav ul {
      padding: 5px 0;
      list-style-type: none;
      text-align: center;
      margin: 0; }
      #header #nav ul li {
        padding: 6px 15px;
        margin: 0 7.5px;
        display: -moz-inline-box;
        -moz-box-orient: vertical;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        font: 14px Georgia, Garamond, Times, "Times New Roman", serif;
        border: 1px solid #cacaca;
        border-bottom: 3px solid #000999;
        *display: inline; }
        #header #nav ul li a {
          text-decoration: none;
          color: #3f0e0d; }
        #header #nav ul li a:hover {
          color: #0000cc; }

body {
  background-color: white;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

a {
  color: blue; }
  a img {
    border: none; }
  a #hover {
    color: red; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 75%;
  margin: 0 auto;
  background: white;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px; }

#flash_notice,
#flash_error,
#flash_alert {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error,
#flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; }
  .error_messages h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  .error_messages p {
    margin: 8px 10px; }
  .error_messages ul {
    margin: 0; }
