#header {
  height: 250px;
  width: 960px;
  margin: 0 auto; }
  #header h1 {
    float: left;
    margin: 40px 0px 0px 0px;
    text-indent: -9999px; }
    #header h1 a {
      display: block;
      width: 216px;
      height: 300px;
      background: url(/images/application/kc-ruby.png) no-repeat; }
  #header h2 {
    font-size: 150%;
    margin: 0px 0px 0px 0px;
    text-decoration: underline; }
  #header h3 {
    float: right;
    margin: 30px -300px 0px 0px;
    text-indent: -9999px; }
    #header h3 a {
      display: block;
      width: 86px;
      height: 86px;
      background: url(/images/application/kc-pc.png) no-repeat; }
  #header h5 {
    float: right;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px; }
  #header #event {
    position: absolute;
    top: 70px;
    margin: 0px 60px 0px 250px;
    color: white; }
    #header #event h1 {
      margin: 0 0 0 0;
      color: white; }
    #header #event h2 {
      margin: 0 0 0 0;
      color: white; }
    #header #event h3 {
      margin: 0 0 0 0;
      color: white; }
    #header #event h4 {
      margin: 0 0 0 0;
      color: white; }
    #header #event h5 {
      font-size: 75%;
      margin: 0 0 0 0;
      color: white; }
    #header #event a {
      text_decoration: underline;
      margin: 0 0 0 0;
      color: white; }
    #header #event table {
      border: 3px solid black;
      padding: 5px 5px 10px 5px;
      width: 550px;
      background-color: #000999; }

#nav {
  position: absolute;
  top: 170px;
  width: 800px;
  margin: 20px 0px 0px 160px;
  padding: 11px 0;
  border-bottom: 1px dashed #b1ad9b; }
  #nav ul {
    padding: 5px 0;
    list-style-type: none;
    text-align: center;
    margin-left: -45px; }
    #nav ul li {
      padding: 6px 15px;
      margin: 0 7.5px;
      display: -moz-inline-box;
      -moz-box-orient: vertical;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      font: 14px Courier, Monaco, Lucida Console, monospace;
      border: 1px solid #cacaca;
      border-bottom: 3px solid #000999;
      *display: inline; }
      #nav ul li a {
        text-decoration: none;
        color: #3f0e0d; }
      #nav ul li a:hover {
        color: #0000cc; }

#footer {
  align: center;
  height: 15px;
  width: 795px;
  margin: 0px 0px 0px 150px;
  border-top: 1px dashed #b1ad9b; }

#podcast {
  margin: 10px 0px 0px 0px;
  padding: 10px 0px 0px 0px; }

#login {
  top: 4px;
  align: right;
  vertical-align: top;
  height: 10px;
  width: 850px;
  margin: 0px 0px 0px 0px; }
  #login h5 {
    font-size: 75%; }

body {
  margin: 0px 0px 40px 0px;
  padding: 0px 0px 0px 40px;
  width: 100%;
  background-color: white;
  font-family: Monaco, Courier, Lucida Console, Courier, monospace;
  font-size: 100%; }
  body #page {
    margin: 110px 0px 50px 50px;
    width: 900px; }
    body #page .member {
      border: 1px solid green; }
      body #page .member iframe {
        float: right; }

table {
  width: 900px;
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 0px 0px; }
  table caption {
    border-bottom: 1px dashed #b1ad9b; }
  table a {
    color: #3f0e0d; }
  table a:hover {
    color: #0000cc; }
  table h1,
  table h2,
  table h3,
  table h4 {
    text-align: center;
    vertical-align: top;
    padding: 0px 0px 0px 0px;
    margin: 0; }
  table h3 {
    text-align: left; }
  table h5 {
    text-align: left;
    padding: 10px 0px 0px 20px;
    margin: 0; }

a {
  color: #3f0e0d; }

a:hover {
  color: #0000cc; }

iframe {
  margin: 0;
  buffer: 0; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  margin: auto;
  background: white;
  padding: 20px 0 40px 0; }

#flash_notice,
#flash_error,
#flash_alert {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error,
#flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; }
  .error_messages h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  .error_messages p {
    margin: 8px 10px; }
  .error_messages ul {
    margin: 0; }
