- @title = "Kansas City's Ruby Community"

#page
  #body
    This will say a bunch of crap
    %table
      %tr
        %td This
      %tr
        %td will
      %tr
        %td say
      %tr
        %td more
      %tr
        %td crap.
      %tr
        %td maybe
      %tr
        %td have
      %tr
        %td a
      %tr
        %td link
      %tr
        %td to
      %tr
        %td the
      %tr
        %td latest
      %tr
        %td podcast
      %tr
        %td with
      %tr
        %td a
      %tr
        %td screenshot.
      
      
