- @title = "Kansas City's Ruby Community"

#page
  #body
    #container
      %table
        %tr
          %td Share ideas, code, and your love for Ruby. Show off your latest project, gems and plugins, or something you learned. Open to all skill levels… just show up and join the fun!
        %tr
          %td
      
