- @title = "KC Ruby Podcasts"

#body
  -if (current_member)
    -if (current_member.admin)
      #buttons
        #podcast
          = button_to "Check for Podcast", check_podcasts_path
  =render :partial => "layouts/podcast"