#header  
  %h1
    %a{:href => "/"} KC Ruby
  #event
    %table
      %tr
        %td
          #event_title= "This is the Title"
      %tr
        %td some place
      %tr
        %td some time
  #podcast
    %h3
      %a{:href => "/podcasts"} Latest Podcast
  = render :partial => "layouts/navbar"
      
