#header  
  %h1
    %a{:href => "/"} KC Ruby
  #podcast
    %h2
      %a{:href => "/podcasts"} Latest Podcast
  #nav
    %ul
      %li
        %a{:href => "/"} KCRuby
      %li
        %a{:href => "/podcasts"} Podcasts
      %li
        %a{:href => "/events"} Events
      %li
        %a{:href => "/users"} Members
      
