#login
  .log-bar
    - if flash[:notice]
      #flash_notice
        = flash[:notice]
  #login_info
    .info
      - if current_member
        %img{:src => "#{current_member.avatar}", :height => "36", :width=> "36"}
        =link_to "#{current_member.name}", edit_member_path(current_member)
        =link_to "logout", logout_path
      - else
        =link_to "login", login_path