#nav
  %ul
    %li
      %a{:href => "/"} KCRuby
    %li
      %a{:href => "/podcasts"} Podcasts
    %li
      %a{:href => "http://www.meetup.com/kcruby/"} Events
    %li
      %a{:href => "/users"} Members
    %li
      %a{:href => "http://groups.google.com/group/kcrug/"} Discussions