#nav
  %ul
    %li
      %a{:href => "/"} KCRuby
    %li
      %a{:href => "/podcasts"} Podcasts
    %li
      %a{:href => "http://www.meetup.com/kcruby/events/calendar/"} Events
    %li
      %a{:href => "/users"} Members
    %li
      %a{:href => "http://www.meetup.com/kcruby/messages/archive/"} Discussions